<div class="row">
  <div class="col-lg-9">
    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon lupa"><i class="fa fa-search iconbuscar" aria-hidden="true"></i></span>
      <input class="inpuTBuscar" id="inputbuscar" type="text" placeholder="Buscar Contacto...">
    </div>
  </div>

  <div class="col-lg-3 ">
    <button id="BotonNuevoCont" class="botonnuevcontacto">
      <div class="floatL">
                      <span class="fa-stack icon-nuevoConta">
                     <i class="fa fa-plus fa-stack-1x iconPlus" aria-hidden="true"></i>
                       <i class="fa fa-circle fa-stack-2x iconCir" aria-hidden="true"></i>
                          <i class="fa fa-plus fa-stack-1x iconPlus" aria-hidden="true"></i>
                    </span>
      </div>
      <div class="LetraBotonNuevo floatL">Nuevo Contacto</div>
    </button>

  </div>
</div>
<br>
