<div class="row">
  <div class="col-lg-12" >
    <div class="tituloTabla">
      <div class="floatL nombre">Nombre</div>
      <div class="floatL descripcion">Descripción</div>
    </div>
  </div>
</div>
    <div class="row">
      <div class="col-lg-12">
        <div class="resumennd" id="resumen" *ngFor="let res of contactos">
          <div id='ResumenNon' class="resumennombre floatL" >
            <div class="cirlulo floatL"><img class='img' [src]='res.photo'></div>
            <div class="nombimg floatL"> <div class='elimincarc'></div> {{res.name}}</div>
          </div>
          <div class="resumendescripcion floatL"> {{res.description}} </div>
        </div>
      </div>
    </div>

